.wrapper {
  display: flex;
}

.side-bar {
  width: 300px;
  height: 100vh;
}

.side-bar-header {
  background-color: #253141;
  height: 100px;
  padding: 0 20px;
}

.side-bar-body {
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
}


.main-chat {
  width: calc(100vw - 300px);
  height: 100vh;
}

.main-chat-header {
  height: 100px;
  background-color: #ffffff;
  padding: 0 40px;
}

.main-chat-body {
  height: calc(100vh - 190px);
  background-color: #fafafa;
  padding: 46px 40px 0;
}

.main-chat-footer {
  height: 90px;
  background-color: #dddddd;
  padding: 20px 40px;
}